@font-face {
  font-family: 'Mecha';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/MechaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mecha';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/MechaBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mecha';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/MechaCondensed.ttf') format('truetype');
}

@font-face {
  font-family: 'Mecha';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/MechaCondensedBold.ttf') format('truetype');
}

